# Selecionando apenas os imóveis residenciais

In [2]:
#importando o pacote pandas 
import pandas as pd

In [3]:
#abrindo a base de dados, definindo o separador e inserindo-a na variável dados
dados = pd.read_csv('dados/aluguel.csv', sep = ';')
dados

FileNotFoundError: [Errno 2] No such file or directory: 'dados/aluguel.csv'

In [1]:
dados["Tipo"]

NameError: name 'dados' is not defined

In [28]:
# retirando valores repetidos da coluna tipo
list(dados['Tipo'].drop_duplicates())

['Quitinete',
 'Casa',
 'Conjunto Comercial/Sala',
 'Apartamento',
 'Casa de Condomínio',
 'Prédio Inteiro',
 'Flat',
 'Loja/Salão',
 'Galpão/Depósito/Armazém',
 'Casa Comercial',
 'Casa de Vila',
 'Terreno Padrão',
 'Box/Garagem',
 'Loft',
 'Loja Shopping/ Ct Comercial',
 'Chácara',
 'Loteamento/Condomínio',
 'Sítio',
 'Pousada/Chalé',
 'Studio',
 'Hotel',
 'Indústria']

In [29]:
#criando uma lista dos tipos que são residenciais e excluindo os demais
residencial = ['Quitinete', 
'Casa',
'Apartamento',
'Casa de Condomínio',
'Casa de Vila']

In [30]:
#verificando as posições nas quais existem tipos de imóveis residenciais
dados['Tipo'].isin(residencial).head(10)

0     True
1     True
2    False
3     True
4     True
5     True
6     True
7     True
8     True
9    False
Name: Tipo, dtype: bool

In [31]:
#criando uma seleção apenas com imóveis residenciais a partir da lista criada anteriormento, por meio da função isin
selecao = dados['Tipo'].isin(residencial)

In [32]:
# inserindo em uma variável apenas os imóvel selecionados acima como residenciais na variável 'dados_residencia'
dados_residencial = dados[selecao]

In [33]:
# verificando quantos imóveis residenciais existem com a função shape
dados_residencial.shape[0]

22580

In [34]:
# reorganizando o indice dos imóveis residenciais
dados_residencial.index = range(dados_residencial.shape[0])

In [35]:
dados_residencial

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
22575,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
22576,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
22577,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
22578,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
22579,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

# exportando base de dados

In [42]:
#salvando a base de dados com a selação dos imóveis residenciais
dados_residencial.to_csv('dados/aluguel_residencial.csv', sep = ";", index = False)

In [43]:
dados_residencial2 = pd.read_csv('dados/aluguel_residencial.csv', sep = ";")

In [44]:
dados_residencial2

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
22575,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
22576,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
22577,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
22578,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
22579,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN